
:root{
	--primaryColor: #E32E00;
	--accentColor: #EDEEF4;
	--textColor: #6b6f81;
}

*{
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style-type: none;
	box-sizing: border-box;
	font-family: 'Poppins',sans-serif;
}
.top-header,
.bottom-header{
	display: flex;
	justify-content: space-between;
	padding: .4rem 2rem;
	align-items: center;
}
.top-header{
	background: white;
	color: black;
}
.nav-icons ion-icon{
	font-size: 2rem;
	margin-left: 1rem;
}
.bottom-header{
	padding: 1rem 2rem;
}
.brand{
	display: flex;
}
.brand img{
	margin-right: .5rem;
	margin-bottom: 2PX;
}
.brand h5{
	font-size: 1.2rem;
	color: #333;
}
nav ul{
	display: flex;
	margin-left: 50px;
}

nav li{
	margin-left: 1rem;

}

nav li a{
	font-size: .8rem;
	color: var(--textColor);
	font-weight: 500;

}



/*card item*/
#card_items{
margin:50px 40px;
}
.card-img {
width: 50%;
border-radius: calc(.25rem - 1px);
}

.card {
font-size: 12px;
max-width: 290px;
padding: 0px;
height: 122px;
margin-right: 13px;
}

.card-title{
font-size: 13px;
}

.card a{
font-size: 12px;
}
.card span{
padding: 8px;
font-color: #2785e8;
}
.btn-primary {
color: #2785e8;
background-color: #fff;
border-color: #007bff;
}
.card-img {
width: 125%;
border-radius: calc(.25rem - 1px);
padding: 5px;
}
.col-md-4 {
max-width: 320px;
}
.card-body {
margin-left: 32px;
}

.hero-section2{
	/*height: 30vh;
	background-color: green;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;*/

	width: 100%;
	height: auto;
	background: white;
	display: flex;
	flex-direction: row;
	margin-top: 20px;
}

.box {
	width: 25%;
	height: 300px;
	background: white;
	box-sizing: 50px;
	align-items: center;
	margin-left: 30px;

}
.box img{
	width: 98%;
	height: 350px;
	position: relative;
}
.box a
{
	position: absolute;
	margin-top: 300px;
	margin-left: -300px;
	border: 1px solid blue;
	background-color: blue;
	color: white;
	border-radius: 5px;
	padding: 5px;
}
.box a :hover
{
	background-color: white;
	color: blue;
	list-style: none;
}
.box2 {
	width: 45%;
	height: 65px;
	background: white;

	box-sizing: 50px;
	border: 1px solid black;

}
.itemLine ul{
	
 list-style-type: none;
 margin-top:20px;
  

}

.itemLine ul li{
	  display: inline;
	  margin-right: 50px;
	  margin-top: 15px;
	  padding: 10px;
	  border: 1px solid black;
	 border-radius:10px;
	 font-size: 12px;
}
.itemLine .active{
margin-left: 30px;
background-color: blue;
color: white;
}
.product-category
{
	 display: flex;

}
.product-category .product-category-single{
  flex: 50%;
  padding: 10px;
  height: 238px;

}
.product-category-single img
{
	width: 100px;
	height: 100px;
}
.product-category-single
{
	display: flex;
}
.product-img
{
	flex: 50%;
}
.product-text
{
	flex: 50%;
}
.box2-arrows{
	margin-left: 750px;
	margin-top: -25px;

}
.product-category2
{
	display: flex;
	margin-top: -100px;
	margin-left: 10px;

}
.box3
{
	width: 30%;
	color: white;
	border-radius: 5px;
	margin-left: 10px;
}
.box3 img{
	width: 98%;
	height: 350px;
	position: relative;
}
.box3-items
{
	position: absolute;
	margin-top: -100px;
	margin-left: 170px;
}
.box3-items a
{
	color: blue;
	text-transform: uppercase;
}
.box3-items div
{
	border: 1px solid blue;
	background-color: blue;
	color: white;
	padding: 3px;
	border-radius: 5px;
	margin-left: 50px;

}
.box3-items .icon-add-to-cart::before
{
	color: white;
}

.featured-products{
	margin: 70px 13px 15px 29px;
	background: #007bff;
	
}
.featured-title
{
	color: white;
	margin-left: 52px;
	text-transform: uppercase;
	padding: 15px;
	font-weight: bold;
	font-size: 23PX;

}
.featured-box {
	width: 100%;
	height: 500px;
	/* add flexbox style */
	margin-top: -20px;

	display: flex;
	flex-direction: row;

	
}
 .featured-box .f-box{
	width: 20%;
	height: 400px;
	background:white;
	margin: 20px 20px 20px 70px;
	box-sizing: border-box;


	
	
}

.Best-products{
	white:100%;
	height: auto;
	background: white;
	margin-right: 15px;
	margin-left: 28px;
	margin-top: 70px;
	display: flex;
}
.box-pro{
	width: 50%;
	height: 500px;
	background:cornflowerblue;
	margin: 20px;
	box-sizing: border-box;
	font-size: 50px;

	
}


.blog{
	white:100%;
	height: auto;
	background: white;
	margin-right: 15px;
	margin-left: 28px;
	margin-top: 70px;
	display: flex;	
	flex-direction: row;
	justify-content: space-around;
	position: relative;
}

.blog-box{
	width: 25%;
	height: 250px;
	background:cornflowerblue;
	margin: 20px ;
	box-sizing: border-box;
	font-size: 50px;
	background: url("img/manufacture-1.png");
	background-repeat: no-repeat;
	

}
