@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?j72tl3');
  src:  url('../fonts/icomoon.eot?j72tl3#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?j72tl3') format('truetype'),
    url('../fonts/icomoon.woff?j72tl3') format('woff'),
    url('../fonts/icomoon.svg?j72tl3#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-add-to-cart:before {
  content: "\e900";
  color: #525661;
}
.icon-black-star:before {
  content: "\e901";
  color: #fff;
}
.icon-close:before {
  content: "\e902";
  color: #525661;
}
.icon-Company-Details:before {
  content: "\e903";
}
.icon-compare-list:before {
  content: "\e904";
}
.icon-date:before {
  content: "\e905";
  color: #525661;
}
.icon-delete:before {
  content: "\e906";
}
.icon-delivery:before {
  content: "\e907";
}
.icon-down-arrow:before {
  content: "\e908";
  color: #525661;
}
.icon-email:before {
  content: "\e909";
}
.icon-facebook:before {
  content: "\e90a";
  color: #3e70f9;
}
.icon-instagram:before {
  content: "\e90b";
  color: #3e70f9;
}
.icon-left-arrow:before {
  content: "\e90c";
  color: #525661;
}
.icon-location:before {
  content: "\e90d";
  color: #525661;
}
.icon-new-customer:before {
  content: "\e90e";
  color: #525661;
}
.icon-Options:before {
  content: "\e90f";
}
.icon-password:before {
  content: "\e910";
  color: #525661;
}
.icon-quick-view:before {
  content: "\e911";
}
.icon-register:before {
  content: "\e912";
  color: #525661;
}
.icon-return:before {
  content: "\e913";
}
.icon-right-arrow:before {
  content: "\e914";
  color: #525661;
}
.icon-search:before {
  content: "\e915";
  color: #525661;
}
.icon-shipping:before {
  content: "\e916";
}
.icon-support:before {
  content: "\e917";
}
.icon-twitter:before {
  content: "\e918";
  color: #3e70f9;
}
.icon-up-arrow:before {
  content: "\e919";
  color: #525661;
}
.icon-user:before {
  content: "\e91a";
  color: #525661;
}
.icon-yellow-star:before {
  content: "\e91b";
  color: #ffc220;
}
.icon-yes-sign:before {
  content: "\e91c";
  color: #525661;
}
.icon-Your-Password:before {
  content: "\e91d";
  color: #525661;
}
.icon-Your-Personal-Details:before {
  content: "\e91e";
}
.icon-youtube:before {
  content: "\e91f";
  color: #3e70f9;
}
